.App{
    position : absolute;
    display: flex;
	width : 100%;
	height : 100%;
}

.imagePrincipal{
    position : absolute;
    margin: 0;
}

.containerPrincipal{
    margin: 5rem auto ;
    width: 59rem;
    height: 28rem;
    border-radius: 40px;
    backdrop-filter: saturate(180%) blur(10px);
    box-shadow: rgba(2, 1, 1, 0.1) 0px 5px 20px -5px;
}

.containerContent{
    display: flex;
    position: relative;
    top: 6.2rem;
    left: 8.4rem;
    text-align: right;
    justify-content: flex-end;
    width: 40rem;
}